<li class="comment-list" id="comment-<%= comment._id %>">
    <div class="comment-display-conatiner">
        <div class="first-child">
                <% if (locals.user && locals.user.id == comment.user){ %>
                
                <small>
                    <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </small>
                <% } %>
        </div>

        <div class="last-child">
                <p><%= comment.content %></p>
                
                <!-- <small>
                    <%= comment.user.name %>
                </small>
                <br> -->
                <small>
                    <span>Created At</span> - <%= comment.createdAt %>
                </small>
                <br>
        
               <!-- CHANGE :: display the likes of this comment, if the user is logged in, then show the link to toggle likes, else, just show the count -->
               
                <small>
                    <% if (locals.user){ %>
                        <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i><span><%= comment.likes.length %></span> 
                        </a>
                    <% }else{ %>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i><span><%= comment.likes.length %></span> 
                    <% } %>
                </small>
        <div>
    </div>    

</li>

