<li class="post-list" id="post-<%= post._id %>">
    <div class="post-display-conatiner">
        <div class="first-child">
            <% if (locals.user && locals.user.id == post.user.id){ %>
                    <small>
                        <a class="delete-post-button"  href="/posts/destroy/<%= post.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </small>
            <% } %>
        </div>
        <div class="last-child">
            <p class="content-size"><%= post.content %></p>
           
                <small>
                   <span>Posted By</span> - <%= post.user.name %>
                </small>
                <br>
                 <small>
                   <span>Created At</span> - <%= post.createdAt %>
                </small>
                <!-- CHANGE :: display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
                <br>
                    
                <small>
                    <% if (locals.user){ %>
                        <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i><span><%= post.likes.length %></span> 
                               
                        </a>
                    <% }else{ %>
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i><span><%= post.likes.length %></span> 
                            
                    <% } %>
                </small>
        </div>
    </div>
    <div class="post-comments">
        <% if (locals.user){ %>
            <!-- let's give an id to the new comment form, we'll also need to make the same changes in home_posts.js where we're adding a post to the page -->
            <form id="post-<%= post._id %>-comments-form" class="new-comment-form" action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type Here to add comment..." required>
                <input type="hidden" name="post" value="<%= post._id %>" >
                <input type="submit" value="Add Comment">
            </form>

        <% } %>

        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
              <!-- <i class="fa fa-comments" id="comment-icon" aria-hidden="true"></i> -->
                <% for (comment of post.comments){%>

                    <%- include('_comment') -%>
                    
                
                <%} %>
            </ul>
        </div>
    </div>
    
</li>


